<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>go-grip - markdown preview</title>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  {{if eq .Theme "dark" }}
  <link rel="stylesheet" href="/static/css/github-markdown-dark.css">
  {{else if eq .Theme "light" }}
  <link rel="stylesheet" href="/static/css/github-markdown-light.css">
  {{else}}
  <link rel="stylesheet" href="/static/css/github-markdown-auto.css">
  {{end}}
  <link rel="stylesheet" href="/static/css/github-print.css" media="print">
</head>
<body class="markdown-body">
  <div class="container">
    <div {{if .BoundingBox }} class="container-inner" {{end}}>
      {{ .Content }}
    </div>
  </div>
  {{if .BoundingBox}}
  <footer class="container footer">
    Made with &hearts; by chrishrb
  </footer>
  {{end}}
</body>
</html>
